footer {
  background-color: #64778d;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.6rem;
}

.mobile {
  color: #ecfdff;
}

.icon {
  margin: 30px;
  display: inline-grid;
}

.icon img {
  height: 50px;
  width: 50px;
}

.icon span {
  margin-top: 15px;
  opacity: 0;
  transition: all 0.5s;
}

.icon:hover span {
  opacity: 1;
}
