.logo {
  font-size: 2rem;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}
